<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Banco Moretti{% endblock %}</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- ICONOS -->
    <script src="https://kit.fontawesome.com/a2e00a4e5e.js" crossorigin="anonymous"></script>
</head>

<body>

    {% include "navbar.html" %}

    <div class="layout-wrapper">
        {% if session.get("role") == "cliente" %}
            {% include "cliente/menu_cliente.html" %}
        {% elif session.get("role") == "empleado" %}
            {% include "empleado/menu_empleado.html" %}
        {% endif %}

        <main class="main-content">
            <div class="container-alertas">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="form-alert-pro alert-{{ category }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            {% block content %}
            {% endblock %}
        </main>
    </div>
    {% if not session.get("role") == "empleado" and not session.get("role") == "cliente"%}
        {% include "footer.html" %}
    {% endif %}
</body>
</html>